    /*
    Flaticon icon font: Flaticon
    Creation date: 04/07/2018 08:54
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-workflow:before { content: "\f100"; }
.flaticon-002-web:before { content: "\f101"; }
.flaticon-003-vision:before { content: "\f102"; }
.flaticon-004-handshake:before { content: "\f103"; }
.flaticon-005-trophy:before { content: "\f104"; }
.flaticon-006-work:before { content: "\f105"; }
.flaticon-007-thinking:before { content: "\f106"; }
.flaticon-008-teamwork:before { content: "\f107"; }
.flaticon-009-target:before { content: "\f108"; }
.flaticon-010-success:before { content: "\f109"; }
.flaticon-011-strategy:before { content: "\f10a"; }
.flaticon-012-startup:before { content: "\f10b"; }
.flaticon-013-research:before { content: "\f10c"; }
.flaticon-014-profit:before { content: "\f10d"; }
.flaticon-015-partnership:before { content: "\f10e"; }
.flaticon-016-money:before { content: "\f10f"; }
.flaticon-017-money-bag:before { content: "\f110"; }
.flaticon-018-online-shop:before { content: "\f111"; }
.flaticon-019-mission:before { content: "\f112"; }
.flaticon-020-meeting:before { content: "\f113"; }
.flaticon-021-marketing:before { content: "\f114"; }
.flaticon-022-learning:before { content: "\f115"; }
.flaticon-023-investment:before { content: "\f116"; }
.flaticon-024-idea:before { content: "\f117"; }
.flaticon-025-human-resources:before { content: "\f118"; }
.flaticon-026-growth:before { content: "\f119"; }
.flaticon-027-piggy-bank:before { content: "\f11a"; }
.flaticon-028-design:before { content: "\f11b"; }
.flaticon-029-decision:before { content: "\f11c"; }
.flaticon-030-deal:before { content: "\f11d"; }
.flaticon-031-data:before { content: "\f11e"; }
.flaticon-032-coffee-cup:before { content: "\f11f"; }
.flaticon-033-jigsaw:before { content: "\f120"; }
.flaticon-034-business:before { content: "\f121"; }
.flaticon-035-budget:before { content: "\f122"; }
.flaticon-036-identity:before { content: "\f123"; }
    
    $font-Flaticon-001-workflow: "\f100";
    $font-Flaticon-002-web: "\f101";
    $font-Flaticon-003-vision: "\f102";
    $font-Flaticon-004-handshake: "\f103";
    $font-Flaticon-005-trophy: "\f104";
    $font-Flaticon-006-work: "\f105";
    $font-Flaticon-007-thinking: "\f106";
    $font-Flaticon-008-teamwork: "\f107";
    $font-Flaticon-009-target: "\f108";
    $font-Flaticon-010-success: "\f109";
    $font-Flaticon-011-strategy: "\f10a";
    $font-Flaticon-012-startup: "\f10b";
    $font-Flaticon-013-research: "\f10c";
    $font-Flaticon-014-profit: "\f10d";
    $font-Flaticon-015-partnership: "\f10e";
    $font-Flaticon-016-money: "\f10f";
    $font-Flaticon-017-money-bag: "\f110";
    $font-Flaticon-018-online-shop: "\f111";
    $font-Flaticon-019-mission: "\f112";
    $font-Flaticon-020-meeting: "\f113";
    $font-Flaticon-021-marketing: "\f114";
    $font-Flaticon-022-learning: "\f115";
    $font-Flaticon-023-investment: "\f116";
    $font-Flaticon-024-idea: "\f117";
    $font-Flaticon-025-human-resources: "\f118";
    $font-Flaticon-026-growth: "\f119";
    $font-Flaticon-027-piggy-bank: "\f11a";
    $font-Flaticon-028-design: "\f11b";
    $font-Flaticon-029-decision: "\f11c";
    $font-Flaticon-030-deal: "\f11d";
    $font-Flaticon-031-data: "\f11e";
    $font-Flaticon-032-coffee-cup: "\f11f";
    $font-Flaticon-033-jigsaw: "\f120";
    $font-Flaticon-034-business: "\f121";
    $font-Flaticon-035-budget: "\f122";
    $font-Flaticon-036-identity: "\f123";